/**
 * @name BanEmoji
 * @version 1.5
 * @description Bans specified native emojis and causes other hijinks
 * @author MurderAxo
 **/

img[aria-label="🤑"] {
	display: none!important
}

img[alt*=":SteamHappy"], img[aria-label*=":steamHappy"] {
	display: none!important
}

li:has(img[src="https://cdn.discordapp.com/avatars/875750446399123537/7eaed8302a5f7170db56ba4fef20fa9b.webp?size=80"]) span[class*="emoji"] {
	background: red!important;
	display: none!important
}

/*img, svg, span, p, a, span a, div a, progress, *[aria-expanded="false"], .vc-platform-indicator {
    /background: url("https://ih1.redbubble.net/image.4984926493.8694/bg,f8f8f8-flat,750x,075,f-pad,750x1000,f8f8f8.jpg") no-repeat;
    /background: url("https://cdn.discordapp.com/avatars/314937768625307658/9be443b5f409a41b6d6c2241a0375c42.webp?size=80") no-repeat;
    background: url("https://cdn.discordapp.com/emojis/1239436685826195499.webp?size=80&quality=lossless");
    overflow:hidden!important;
    background-size: contain!important;
    padding-left:10000px
}*/

/*Bad Rufus */
img[src="https://cdn.discordapp.com/guilds/1183447731063234682/users/602811247028731905/avatars/a05dcd9b2f63e37e7ff41f59d2a0e57d.webp?size=128"],
img[src="https://cdn.discordapp.com/guilds/1183447731063234682/users/602811247028731905/avatars/8b13d06adf02a5e7f6dac789595ce5bc.webp?size=128"] {
    filter:invert()
}
