/**
 * @name NoCoverServerList
 * @version 3.5
 * @description Stops the user area from covering up the server list
 * @author Obsidian
**/

.visual-refresh section.panels_c48ade {
	left: calc(var(--custom-guild-list-width) + var(--space-xs));
	width: calc(100% - var(--custom-guild-list-width) - var(--space-xs)*2);
	box-sizing: content-box;
 
	.actionButtons_e131a9 button {
	  padding: 0;
	}
 
	/* GameActivityToggle Fix (delete if you don't use) */
	.container__37e49 {
	  padding: var(--space-xxs);
	  gap: var(--space-4);
	  >.buttons__37e49 {
		 gap: 0;
	  }
	  >.avatarWrapper__37e49 {
		 min-width: 32px !important;
		 >.avatar__37e49 {
			scale: 0.9;
		 }
	  }
	}
 }
 nav.guilds_c48ade {
	margin-bottom: 0 !important;
 }
 .sidebar_c48ade:after {
	display: none;
 }